/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

body {
    margin: 0;
    width: auto;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: #494d5f;
    display: grid;
}

header {
    border: 5px solid #003153;
    background-color: #003153;
    font-family: Arial, Helvetica, sans-serif;
}

nav li#back a {
    text-align: left;
}

nav.menu ul {
    list-style: none;
}

nav.menu li {
    display: inline-block;
}

nav.menu a {
    color: white;
    text-decoration: none;
    width: 100px;
    display: block;
    padding: 15px;
    font-size: 17px;
}

nav.menu a:hover {
    background: #000;
}

section {
    display: grid;
    background-color: peachpuff;
    padding: 60px 60px 60px 60px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 960px;
}

section h1 {
    font-size: 50px;
}

section table {
    border: 5px solid black;
}

table {
    width: 100%;
}

table caption {
    caption-side: bottom;
}

thead {
    background-color: #009879;
    color: #ffffff;
}

td, th {
    padding: 5px;
    border: 1px solid black;
    word-wrap: break-word;
    color: #FAF9F6;
}

table tr td {
    padding: 16px;
}

.bottomlinks {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

#bottomlinks {
    font-family: 'Montserrat', sans-serif;
    border: none;
    text-align: right;
    font-size: 40px;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#bottomlinks span {
    color: #303030;
}

#bottomlinks span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#bottomlinks span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#bottomlinks:hover span {
    padding-right: 25px;
    background-color: #FAF9F6;
}

#bottomlinks:hover span:after {
    opacity: 1;
    right: 0;
}

#bottomlinks2 {
    font-family: 'Montserrat', sans-serif;
    border: none;
    text-align: right;
    font-size: 40px;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#bottomlinks2 span {
    color: #303030;
}

#bottomlinks2 span {
    cursor: pointer;
    display: inline;
    position: absolute;
    transition: 0.5s;
}

#bottomlinks2 span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    padding-right: 246px;
    transition: 0.5s;
}

#bottomlinks2:hover span {
	padding-left: 25px;
    background-color: #FAF9F6;
}

#bottomlinks2:hover span:after {
    opacity: 1;
    right: 0;
}


#footer {
    color: white;
    position: sticky;
    top: 100%;
    border: 5px solid #003153;
    background-color: #003153;
    text-align: center;
}

@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} } 